#main-cards-container{
    position: absolute;
    display: grid;
    top: 95px;
    padding: 5rem 2rem ;
    background-color: black;
    color: #fff;
    overflow: hidden;
    overflow-y: scroll; 
    scrollbar-width: none; 
}

#cardsContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    row-gap: 5rem;
}
#cardsContainer .Card .imgCard{
    width: 280px;
    height: 250px;
    display: grid;
    justify-content: center;
}

#cardsContainer .Card .imgCard .itemHover .src{
    width: 280px;
    border-radius: 7px;
}

#cardsContainer .Card .imgCard .itemHover .vid{
    display: none;
}
#cardsContainer .Card .imgCard .itemHover .content_box h4{
    color:white;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 220px;
    text-align: left;
    font-size: 18px;
}

#cardsContainer .Card .imgCard .itemHover .content_box .icons{
    size: 40px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2px 15px;
    cursor: pointer;
}
#cardsContainer .Card .imgCard .itemHover:hover{
    transform: scale(1.2);
    z-index: 10;
    border-radius: 10px;
    background-color:#212121;
    transition: .3s; 
    height: 300px;
    padding:  2px 0;
}

#cardsContainer .Card .imgCard .itemHover:hover .pic{
    display: none;
}

#cardsContainer .Card .imgCard .itemHover:hover .vid{
    display: block;
    width: 250px;    
    cursor:auto;
    border-radius:7px 7px 0 0;   
    margin-top: -3px;  
}